
html{
    height:98%;
}

body {
    background-image: url("Phon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
   
}
.leftdiv{
    height:100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;

}

.game{
    height: 100%;
    width:50%;
}

.rightdiv {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.names{
    font-family: Krona One;
    color:whitesmoke;
    font-size:55px;
    margin:15px 0 8px 0;
    cursor:default;
    
}

.nameg{
    font-family: Krona One;
    color:whitesmoke;
    font-size:55px;
    margin:0 0 0 0;
    cursor:default;
}

p{
    font-family: Krona One;
    color:whitesmoke;
    font-size: 30px;
    margin:0 0 8px 0 ;
    cursor:default;
}
.psp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start{
    height: 20%;
    width: 80%;
    margin:0 0 15px 0;
    font-family: Krona One;
    color:whitesmoke;
    background-color: rgba(245, 245, 245, 0.25);
    border:4px solid whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    font-size:25px;
    transition: 0.3s;
    cursor:pointer
}

.start:hover{
    transform: scale(1.08);
}
.start:active{
    transform: none;
}

.playword{
    transition: 0.2s;
    cursor:url("cursor.png"),pointer;
    transition: 0.4s;
}

.playword:hover{
    transform: scale(1.2);
}

.barea{
    width:98vh;
    height:95vh;
    background-color: rgba(245, 245, 245, 0.25);
    border:4px solid whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    cursor:pointer;
    transition: 0.4s;
}

.barea:hover{
    transform: scale(1.01);
}
.time{
    font-family: Krona One;
    color:whitesmoke;
    font-size:25px;
    margin:0 0 0 0;
    cursor:default;
}
.score{
    font-family: Krona One;
    color:whitesmoke;
    font-size:25px;
    margin:0 0 0 0;
    cursor:default;
}

.apples{
    font-family: Krona One;
    color:whitesmoke;
    font-size:25px;
    margin:0 0 0 0;
    cursor:default;
}

.enemies{
    font-family: Krona One;
    color:whitesmoke;
    font-size:25px;
    margin:0 0 0 0;
    cursor:default;
}
