
html{
    height:98%;
    background-image: url("Phon.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:100%;
   
}
.leftdiv{
    height:100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center ;

}

.game{
    height: 100%;
    width:50%;
}

.rightdiv {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: name1 1s ease-in-out 1;
}

.names{
    font-family: Krona One;
    color:whitesmoke;
    font-size:55px;
    margin:15px 0 8px 0;
    cursor:default;
    user-select: none;
    
}

.nameg{
    font-family: Krona One;
    color:whitesmoke;
    font-size:55px;
    margin:0 0 0 0;
    cursor:default;
    user-select: none;
}

p{
    font-family: Krona One;
    color:whitesmoke;
    font-size: 30px;
    margin:0 0 8px 0 ;
    cursor:default;
    user-select: none;
}
.psp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    animation: psp1 1s ease-out 1;
}

.start{
    height: 20%;
    width: 80%;
    margin:0 0 15px 0;
    font-family: Krona One;
    color:whitesmoke;
    background-color: rgba(245, 245, 245, 0.25);
    border:4px solid whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    font-size:25px;
    transition: 0.3s;
    cursor:pointer;
    user-select: none;
    animation: start1 1.5s ease-in-out 1;
}

.start:hover{
    transform: scale(1.08);
}
.start:active{
    transform: none;
}

.playword{
    transition: 0.2s;
    cursor:url("cursor.png"),pointer;
    transition: 0.4s;
    user-select: none;
}

.playword:hover{
    transform: scale(1.2);
}

.barea{
    width: 1000px;
    height:1000px;
    background-color: rgba(245, 245, 245, 0.25);
    border:4px solid whitesmoke;
    backdrop-filter: blur(10px);
    border-radius: 25px;
    cursor:pointer;
    transition: 0.4s;
    user-select: none;
    margin-top: 1vh;
    animation: barea1 1s ease-out 1;
}

.barea:hover{
    transform: scale(1.01);
}

.speed{
    font-family: Krona One;
    font-size: xx-large;
    color: whitesmoke;

}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.btn_spp{
    width:60px;
    height:60px;
    border:3px solid whitesmoke;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.25);
    backdrop-filter: blur(10px);
    margin:0 ;

}
.btn_spm{
    width:60px;
    height:60px;
    border:3px solid whitesmoke;
    border-radius: 15px;
    background-color: rgba(245, 245, 245, 0.25);
    backdrop-filter: blur(10px);

}




.infoerror{
    display: none;
    margin-top: 20vh;
}

h1{
    font-family: Krona One;
    color: whitesmoke;
}
h2{font-family: Krona One;
color: whitesmoke;}

img{
    width: 100px;
    height: 70px;
}

/*media q*/

@media (max-width:1000px){
    .leftdiv{
        display: none;
    }
    .rightdiv{
        display: none;
    }
    .barea{
        display: none;
    }
    .infoerror{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
     
}



/* animation */

@keyframes barea1{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes name1{
    0%{
        transform: translateY(-300px);
    }
    100%{
        transform: none;
    }
}

@keyframes psp1 {
    0%{
        transform: translateX(-300px);
    }
    100%{
        transform: none;
    }
}

@keyframes info1{
    0%{
        transform: translateX(300px);
    }
    100%{
        transform: none;
    }
}

@keyframes start1{
    0%{
        transform: translateY(300px)  scale(0.8);

    }
    75%{
        transform: translateY(0) scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
